img{
  width: 100%;
  height: auto;
}

h1{
  color: #ffff;
  font-weight: bold;
}

p{
  color: #ffff;
}

a{
  background-color: rgb(236, 15, 15);
  color: #ffff;
  text-decoration: none;
}

a:hover{
  background-color: rgb(236, 15, 15);
  color: #ffff;
  border: 2px solid #ffff;
}
