
.btn{
  color: rgb(236, 15, 15);
  border: 1px solid rgb(236, 15, 15);
  font-size: 20px;
}

.btn:hover{
  background-color: rgb(236, 15, 15);
  color: rgb(255, 255, 255);
}

img{
  width: 100%;
  cursor: pointer;
}

h5{
  color: white;
}
