
<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <img src="../assets/luates.png" width="45" height="45" alt="Logo LuaMovies" class="logo-lua">
    <a class="navbar-brand" href="#">LuaMovies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Opções
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Meus Favoritos</a></li>
            <li><a class="dropdown-item" href="#">Assistir Depois</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Login/Cadastro</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Procure seu filme aqui.." aria-label="Search">
        <button class="btn btn-outline-success" type="submit" >Procurar</button>
      </form>
    </div>
  </div>
</nav>

<p style="color: white;">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam ratione cum similique reiciendis ducimus sapiente quos, quasi, qui animi atque dicta in voluptatum itaque. Labore laboriosam blanditiis autem sit?
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta officia quis nesciunt facere illo quia animi commodi corporis nobis? Soluta minus tempora ab eveniet facilis expedita temporibus debitis, sequi architecto.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo esse rerum iure culpa pariatur minus quos, dicta tenetur sapiente dolore nesciunt quia voluptatibus ut praesentium est necessitatibus. Incidunt, nostrum sapiente.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero reiciendis eius consequuntur, ex natus saepe eveniet placeat explicabo animi est impedit dolore repellendus, non dolor, beatae deleniti sit ipsam quisquam?
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt praesentium facere cum magni inventore voluptates tempore molestias, consequuntur harum dolorem a eligendi porro illo voluptatem aspernatur recusandae, excepturi nostrum sequi!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam ratione cum similique reiciendis ducimus sapiente quos, quasi, qui animi atque dicta in voluptatum itaque. Labore laboriosam blanditiis autem sit?
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta officia quis nesciunt facere illo quia animi commodi corporis nobis? Soluta minus tempora ab eveniet facilis expedita temporibus debitis, sequi architecto.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo esse rerum iure culpa pariatur minus quos, dicta tenetur sapiente dolore nesciunt quia voluptatibus ut praesentium est necessitatibus. Incidunt, nostrum sapiente.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero reiciendis eius consequuntur, ex natus saepe eveniet placeat explicabo animi est impedit dolore repellendus, non dolor, beatae deleniti sit ipsam quisquam?
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt praesentium facere cum magni inventore voluptates tempore molestias, consequuntur harum dolorem a eligendi porro illo voluptatem aspernatur recusandae, excepturi nostrum sequi!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam ratione cum similique reiciendis ducimus sapiente quos, quasi, qui animi atque dicta in voluptatum itaque. Labore laboriosam blanditiis autem sit?
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta officia quis nesciunt facere illo quia animi commodi corporis nobis? Soluta minus tempora ab eveniet facilis expedita temporibus debitis, sequi architecto.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo esse rerum iure culpa pariatur minus quos, dicta tenetur sapiente dolore nesciunt quia voluptatibus ut praesentium est necessitatibus. Incidunt, nostrum sapiente.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero reiciendis eius consequuntur, ex natus saepe eveniet placeat explicabo animi est impedit dolore repellendus, non dolor, beatae deleniti sit ipsam quisquam?
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt praesentium facere cum magni inventore voluptates tempore molestias, consequuntur harum dolorem a eligendi porro illo voluptatem aspernatur recusandae, excepturi nostrum sequi!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam ratione cum similique reiciendis ducimus sapiente quos, quasi, qui animi atque dicta in voluptatum itaque. Labore laboriosam blanditiis autem sit?
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta officia quis nesciunt facere illo quia animi commodi corporis nobis? Soluta minus tempora ab eveniet facilis expedita temporibus debitis, sequi architecto.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo esse rerum iure culpa pariatur minus quos, dicta tenetur sapiente dolore nesciunt quia voluptatibus ut praesentium est necessitatibus. Incidunt, nostrum sapiente.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero reiciendis eius consequuntur, ex natus saepe eveniet placeat explicabo animi est impedit dolore repellendus, non dolor, beatae deleniti sit ipsam quisquam?
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt praesentium facere cum magni inventore voluptates tempore molestias, consequuntur harum dolorem a eligendi porro illo voluptatem aspernatur recusandae, excepturi nostrum sequi!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam ratione cum similique reiciendis ducimus sapiente quos, quasi, qui animi atque dicta in voluptatum itaque. Labore laboriosam blanditiis autem sit?
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta officia quis nesciunt facere illo quia animi commodi corporis nobis? Soluta minus tempora ab eveniet facilis expedita temporibus debitis, sequi architecto.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo esse rerum iure culpa pariatur minus quos, dicta tenetur sapiente dolore nesciunt quia voluptatibus ut praesentium est necessitatibus. Incidunt, nostrum sapiente.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero reiciendis eius consequuntur, ex natus saepe eveniet placeat explicabo animi est impedit dolore repellendus, non dolor, beatae deleniti sit ipsam quisquam?
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt praesentium facere cum magni inventore voluptates tempore molestias, consequuntur harum dolorem a eligendi porro illo voluptatem aspernatur recusandae, excepturi nostrum sequi!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laboriosam ratione cum similique reiciendis ducimus sapiente quos, quasi, qui animi atque dicta in voluptatum itaque. Labore laboriosam blanditiis autem sit?
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta officia quis nesciunt facere illo quia animi commodi corporis nobis? Soluta minus tempora ab eveniet facilis expedita temporibus debitis, sequi architecto.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo esse rerum iure culpa pariatur minus quos, dicta tenetur sapiente dolore nesciunt quia voluptatibus ut praesentium est necessitatibus. Incidunt, nostrum sapiente.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero reiciendis eius consequuntur, ex natus saepe eveniet placeat explicabo animi est impedit dolore repellendus, non dolor, beatae deleniti sit ipsam quisquam?
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt praesentium facere cum magni inventore voluptates tempore molestias, consequuntur harum dolorem a eligendi porro illo voluptatem aspernatur recusandae, excepturi nostrum sequi!
</p>


<router-outlet></router-outlet>

